// 布局
@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flex {
  @include flex();

  // 主轴方式
  &--justify {
    &--center {
      justify-content: center;
    }
    &--start {
      justify-content: start;
    }
    &--between {
      justify-content: space-between;
    }

    &--around {
      justify-content: space-around;
    }

    &--end {
      justify-content: flex-end;
    }
  }

  // 侧轴对齐方式
  &--align {
    &--start {
      align-items: flex-start;
    }

    &--end {
      align-items: flex-end;
    }

    &--center {
      align-items: center;
    }

    &--stretch {
      align-items: stretch;
    }

    &--baseline {
      align-items: baseline;
    }
  }

  // 内容对齐方式
  &--content {
    &--center {
      align-content: center;
    }

    &--between {
      align-content: space-between;
    }

    &--around {
      align-content: space-around;
    }

    &--stretch {
      align-content: stretch;
    }
	
	&--start {
		align-content: flex-start;
	}
	
	&--end {
		align-content: flex-end;
	}
  }

  &--self {
    &--auto {
      align-self: auto;
    }

    &--center {
      align-self: center;
    }

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }

    &--baseline {
      align-self: baseline;
    }

    &--stretch {
      align-self: stretch;
    }
  }

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--grow {
    flex-grow: 1;
  }

  &--shrink {
    flex-shrink: 0;
  }
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}
